$color-red: hsl(0, 100%, 67%);
$color-yellow: hsl(39, 100%, 56%);
$color-teal: hsl(166, 100%, 37%);

$color-blue--pale: #ebf1ff;
$color-lavender: #c8c7ff;
$color-blue--cobalt: hsl(234, 85%, 45%);
$color-blue--gray: rgb(48, 59, 90);

$color-white: #ffffff;

$bg-gradient: linear-gradient(to bottom, #7857ff -20%, #2e2be9);

$font-clamp--m: clamp(1.125rem, 0.411rem + 2.381vw, 1.5rem);
$font-clamp--s: clamp(1rem, 0.76rem + 0.794vw, 1.125rem);

@import "./reset";

.container {
  min-height: 100%;
  max-width: 48rem;
  padding: 1rem;
  margin: 0 auto;
  display: grid;
  place-items: center;
}

.component {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  box-shadow: 0 0.5rem 2rem rgba($color-lavender, 0.5);
  border-radius: 2rem;
  overflow: hidden;
}

.result {
  background: $bg-gradient;
  color: $color-lavender;
  border-radius: 2rem;
  padding: 2rem 3.625rem 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;

  h1 {
    font-size: $font-clamp--m;
  }

  h2 {
    font-size: clamp(1.5rem, 0.55rem + 3.175vw, 2rem);
    font-weight: 700;
    color: $color-white;
  }

  &__paragraph {
    font-size: $font-clamp--s;
    line-height: 1.3;
    margin-top: -1.25rem;
  }
}

.score {
  &__circle {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__number {
    font-size: clamp(3.5rem, 1.595rem + 6.349vw, 4.5rem);
    line-height: 1.25;
    font-weight: 800;
    color: $color-white;
  }
}

.summary {
  padding: 1.875rem 2.5rem;

  h2 {
    font-size: $font-clamp--m;
    margin-bottom: 1.75rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 2.375rem;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 1rem;
    border-radius: 0.5rem;

    &--red {
      background-color: rgba($color-red, 0.05);
    }

    &--yellow {
      background-color: rgba($color-yellow, 0.05);
    }

    &--teal {
      background-color: rgba($color-teal, 0.05);
    }

    &--blue {
      background-color: rgba($color-blue--cobalt, 0.05);
    }
  }
}

.item {
  &__name {
    flex: 1;
    font-weight: 800;
    font-size: $font-clamp--s;

    &--red {
      color: $color-red;
    }

    &--yellow {
      color: $color-yellow;
    }

    &--teal {
      color: $color-teal;
    }

    &--blue {
      color: $color-blue--cobalt;
    }
  }

  &__score {
    font-size: 1rem;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.5);

    span {
      font-weight: 800;
      color: rgb(0, 0, 0);
    }
  }
}

.btn {
  display: block;
  text-decoration: none;
  border-radius: 50rem;
  background: $color-blue--gray;
  color: $color-white;
  padding: 1rem;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;

  &:hover {
    background: $bg-gradient;
  }
}

@media (max-width: 45.75rem) {
  .container {
    max-width: 28rem;
  }

  .component {
    box-shadow: none;
    border-radius: 0;
  }
}

@media (max-width: 30rem) {
  .container {
    place-items: start;
    padding: 0;
  }

  .result {
    border-radius: 0 0 2rem 2rem;
    padding-top: 1.375rem;
    gap: 1.375rem;
  }

  .summary {
    padding: 0.875rem 2rem;

    &__list {
      margin-bottom: 1.875rem;
    }
  }

  .score__circle {
    width: 8.875rem;
    height: 8.875rem;
  }
}
